{% extends 'base.html.twig' %}

{% block title %}Mon Blog symfony | Gestion des membres{% endblock %}



{% block body %}
<h1 class="display-4 text-center my-4">Back office | Gestion des membres <small><a href="#" alt="" class="btn btn-primary">Nouveau membre</a></small></h1>

 {% for message in app.flashes('success') %}

    <div class="bg-success text-white text-center col-md-3 mx-auto rounded mb-3">
        {{ message }}
        </div>

        {% endfor %}

<table class="table table-dark table-bordered text-center">

            <tr>
            {% for data in titre %}

             {% if data != 'password' %}
                    
                    <th>{{ data|upper }}</th>
                    
                {% endif %}

                
            {% endfor %}
                
                <th>Edit</th>
                <th>supp</th>
            </tr>    

             {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                     <td>{{ user.roles[0] }}</td>

                      <td><a href="{{ path('admin_edit_user', {'id': user.id }) }}" class="btn btn-primary text-white"><i class="fas fa-edit fa-1x"></i></a></td>
                    <td><a href="{{ path('admin_delete_user', {'id': user.id }) }}" class="btn btn-danger text-white" onclick="return(confirm('voulez vous vraiment supprimer ce commentaire ?'))"><i class="fas fa-trash fa-1x"></i></a></td>

                </tr> 
          
                
            {% endfor %}

           
          
                
            

             

        </table>

        {% endblock %}