{% extends "base.html.twig" %}

{% block body %}

<h1 class="display-4 text-center my-4">Créer un article</h1>

{# <form method="post">
  <div class="form-group">
        <label for="title">title</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
  <div class="form-group">
        <label for="content">content</label>
        <textarea type="" class="form-control" id="content" name="content"></textarea>
  </div>

  <div class="form-group ">
        <label for="image">image</label>
        <input type="text" class="form-control" id="image" name="image">
    </div>

  <button type="submit" class="btn btn-primary">Enregistrer</button>
</form> #}

{{ form_start(formArticle, {'attr': {'class': 'col-md-7 mx-auto'} } ) }}

    {{ form_row(formArticle.title, {'attr': {'placeholder': 'Titre de l\'article'}, 'label': "Titre de l\'article" }) }}
     {{ form_row(formArticle.category, {'label': "Catégorie"}) }}
    {{ form_row(formArticle.content, {'label': "Contenu de l\'article"}) }}
    {{ form_row(formArticle.image, {'attr': {'placeholder': 'Url de l\'image'} }) }}

    <button type="submit" class="btn btn-secondary">
    {% if editMode %}
        Enregistrer les modifications
    {% else %}
    Enregistrer l'article

    {% endif %}
    </button>



{{ form_end(formArticle) }}

{% endblock %}