{% extends "base.html.twig" %}

{% block title %}Details Articles{% endblock %}

{% block body %}
     
    <h1 class="display-4 text-center my-4">{{ article.title }}</h1>
 
    <div class="col-md-12">
        <div class="card mb-4 shadow-sm">
          <img src="{{ article.image|replace({'200/300': '1000/300'}) }}" alt="image">
          <div class="card-body">
            
            <div class="d-flex justify-content-between align-items-center">
             
                <p>{{ article.content|raw }}</p>
              
            </div>

            <small class="text-muted">Publié le {{ article.createdAt|date('d/m/Y') }} à {{ article.createdAt|date('H:i:s') }} dans la catégorie : {{ article.category.title }}</small>
            {% if is_granted('ROLE_ADMIN') %}
              
              <small><a href="{{ path('blog_edit', {'id': article.id}) }}" class="btn btn-dark ml-2 mb-2">EDIT</a></small>

            {% endif %}
          </div>
        </div>
      </div>

       {% if is_granted('ROLE_USER') %}

        {% for message in app.flashes('success') %}
        
      <div class="col-md-6 bg-success mb-3 rounded mx-auto text-center text-white">

        {{ message }}
      </div>

      {% endfor %}

      {{ form_start(formComment, {'attr': {'class': 'col-md-7 mx-auto'} }) }}

      {{ form_row(formComment.content, {'label': "Commentaire"}) }}
    

    <button type="submit" class="btn btn-secondary mb-5">
      Publier le commentaire
    </button>
    
      {{ form_end(formComment) }}
      
    {% endif %}
     
        
      
      <h4 class="my-4">Vos réactions...</h4>

      <div class="row mb-5">

          {% for  data in article.comments %}

            <div class="col-md-4 border">
              {{ app.user.username }}
              <small class="font-italic">{{ data.createdAt|date('d/m/Y') }} à {{ data.createdAt|date('H:i:s') }}</small>
              </div>

              <div class="col-md-8 border p-2">
                  {{ data.content|striptags }}
              </div>

              {% endfor %}

      </div>

     
        
{% endblock %}

