{% extends "base.html.twig" %}

{% block title %}Details Articles{% endblock %}

{% block body %}
     
    <h1 class="display-4 text-center my-4">{{ article.title }}</h1>
 
    <div class="col-md-12">
        <div class="card mb-4 shadow-sm">
          <img src="{{ article.image|replace({'200/300': '1000/300'}) }}" alt="image">
          <div class="card-body">
            <p class="card-text">{{ article.title|raw }}</p>
            <div class="d-flex justify-content-between align-items-center">
              {{ article.content }}
              {{ article.content }}
              <small class="text-muted">{{ article.createdAt|date('d/m/Y') }} à {{ article.createdAt|date('H:i:s') }}</small>
              
            </div>
          </div>
        </div>
      </div>
    
        
{% endblock %}